<div id="page" class="container-fluid mt-0">
  <h2>
    Bonjour @if(userData != undefined) {
    {{ userData.firstname }}
    }
  </h2>
  <hr />
  @if(email) {
  <p>Email: {{ email }}</p>
  <p *ngIf="isValid; else invalidEmail" style="color: green">Cet email est valide</p>
  <ng-template #invalidEmail>
    <p style="color: red">Cet adresse email est **invalide**. Veuillez entrer le bon format.</p>
  </ng-template>
  } @else {
  <div>
    <h4>Bienvenue sur la plateforme eLearning de la DPEV</h4>
    <p>Avant de continuer, nous vous prions de mettre à jour votre profile utilisateur.</p>
    <p>
      Veuillez fournir l'adresse email que vous avez précédemment utilisé dans la plateforme de
      formation.
    </p>
    <form (ngSubmit)="checkEmail()">
      <div class="mb-3 fitem">
        <label for="emailInput" class="form-label requiredField">Adresse email</label>
        <input
          type="email"
          id="emailInput"
          name="email"
          class="form-control"
          [formControl]="emailControl"
          required
        />
      </div>
      <div class="mb-3 fitem">
        <input type="submit" class="btn btn-primary" value="Vérifier l'email" />
      </div>
    </form>
  </div>
  } @if(isValidating) {
  <h3>Status de votre adresse email</h3>
  @if(userData != undefined) {
  <p *ngIf="userData.confirmed === true; else suspendedUser" style="color: green">
    Votre email est approuvé dans le système. Vous pouvez continuer à mettre à jour votre profil.
  </p>
  <ng-template #suspendedUser>
    <p style="color: red">Votre compte n'est pas approuvé</p>
  </ng-template>
  } @else {

  <p style="color: red">
    Le compte associé à cette adresse email n'existe pas. Veuillez contacter l'administrateur de la
    plateforme.
  </p>

  } } @if(userData != undefined) {
  <div class="mb-3 fitem">
    <input
      type="button"
      class="btn btn-primary"
      (click)="openUpdatePage()"
      value="Mettre à jour le profil"
    />

    <div class="form-control-feedback invalid-feedback" id="id_error_submitbutton"></div>
  </div>
  }
</div>
